{{ template "base" .}}

{{ define "title"}} RPS web - About {{ end }}

{{ define "content"}}

    <sectio>
        <div class="constainer">
            <div class="row">
                <div class="col py-5">
                    <h2 class="py-2">Desenvolvido por: DHermel</h2>
                    <p>Loren Ipsen</p>
                    <p>Loren Ipsen</p>
                    <p>Loren Ipsen</p>

                    <ul class="py-3">
                        <li><a href="http://instagram.com/d_hermel" target="_blank">Instagran</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </sectio>


{{ end }}